<p>
  <b>Email:</b>
  <%=h @survey.email %>
</p>

<p>
  <b>Group:</b>
  <%=h @survey.group %>
</p>

<p>Take this survey</p>
<p>Email this survey</p>

<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Back', surveys_path %>